<h1>About Us</h1>
<img src="./img/iu2.jpg" class="rounded float-end" alt="" width="50%" height="50%">

<p> 
Lee Ji-eun atau yang biasa dikenal dengan IU adalah seorang penyanyi-penulis lagu, produser, model dan aktris berasal dari Korea. 
Nama panggungnya berasal dari kata "I and You" yang melambangkan bahwa "kita" dapat menjadi "satu" melalui musik.
Lahir di Palembang, di Rumah Sakit YK Mandira pada tanggal 16 Mei 1993.

    
Lee Ji Eun, yang lebih dikenal dengan nama panggungnya IU, adalah seorang penyanyi, 
penulis lagu, dan aktris asal Korea Selatan yang lahir pada 16 Mei 1993 di Seoul. 
Ia memulai karirnya di dunia hiburan pada usia yang sangat muda, debut sebagai penyanyi pada tahun 2008 di bawah naungan LOEN Entertainment (sekarang Kakao Entertainment). Dengan suara merdu dan kemampuan menulis lirik yang kuat, IU dengan cepat menarik perhatian publik, 
terutama setelah lagu "Good Day" dari albumnya "Real" yang dirilis pada tahun 2010 sukses besar dan menjadi 
ikon pop Korea Selatan. Di luar musik, IU juga menapaki dunia akting dengan sangat sukses. 
Ia membintangi beberapa drama populer seperti "Dream High," "Moon Lovers: Scarlet Heart Ryeo," dan "Hotel Del Luna." 
Dengan karisma yang kuat di panggung, bakat yang serba bisa, serta imej yang ramah dan rendah hati, IU telah menjadi 
salah satu artis paling berpengaruh dan dicintai di industri hiburan Korea Selatan.
</p>