<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    
<body>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31875.405397606966!2d104.73098655656035!3d-2.9792773847864917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3b75e6d62d790f%3A0x4f51deef4db78c49!2sPalembang%20Icon%20Mall!5e0!3m2!1sen!2sid!4v1728011791389!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen=""  class="rounded float-end" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h1>Contact Us</h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  
</body>
</html>
