<h1>Fakultas</h1>
<table class="table table-stripted">
    <tr>
        <th>Fakultas</th>
        <th>Singkatan</th>
    </tr>
    <% fakultas.forEach(data => { %>
    <tr>
        <td><%= data.nama %></td>
        <td><%= data.singkatan %></td>
    </tr>
<% }) %>
</table>