
    <h1>Daftar Program Studi</h1>
    
        <table class="table table_bordered">
            <thead>
            <tr>
                <th scope="col">Nama Prodi</th>
                <th scope="col">Fakultas</th>
                <th scope="col">Singkatan</th>
            </tr>
            </thead>

            <tbody>
            <% prodi.forEach(data=>{ %>
            <tr>
                <td> <%= data.nama%></td>
                <td>
                  <%= data.fakultas_id && data.fakultas_id.nama ? data.fakultas_id.nama : 'Belum ada Fakultas' %>
                </td>
                <td> <%= data.singkatan %></td>

            </tr>
          </tbody>
        <% }) %>     
   </table>
